In [2]:
import pandas as pd

In [74]:
# this is all incorrect/ not worth learning how to use panda dataframes like SQL
# checked this with database_queries/cat_check/mock_tables.py
# now happy
mgs_data = [1,2,3,4,5]
las_data = [[1,5,0.23],
            [1,5,0.12],
            [2,4,1.01],
            [3,3,0.21],
            [4,5,2.46],
            [4,3,0.30],
            [4,1,0.79],
            [5,1,0.51],
            [5,2,0.10],
            [6,2,2.23],]

In [75]:
mgs =  pd.DataFrame(mgs_data,columns=['objID'])
las = pd.DataFrame(las_data,columns=['mobjID','sobjID','distance'])

In [76]:
mgs

   objID
0      1
1      2
2      3
3      4
4      5

In [77]:
las

   mobjID  sobjID  distance
0       1       5      0.23
1       1       5      0.12
2       2       4      1.01
3       3       3      0.21
4       4       5      2.46
5       4       3      0.30
6       4       1      0.79
7       5       1      0.51
8       5       2      0.10
9       6       2      2.23

In [78]:
merged = pd.merge(mgs,las,left_on=mgs.objID,right_on=las.sobjID)
merged

   objID  mobjID  sobjID  distance
0      1       4       1      0.79
1      1       5       1      0.51
2      2       5       2      0.10
3      2       6       2      2.23
4      3       3       3      0.21
5      3       4       3      0.30
6      4       2       4      1.01
7      5       1       5      0.23
8      5       1       5      0.12
9      5       4       5      2.46

In [79]:
idx = merged.groupby('mobjID')['distance'].transform(min) == merged['distance']
view = merged[idx]
view

   objID  mobjID  sobjID  distance
2      2       5       2      0.10
3      2       6       2      2.23
4      3       3       3      0.21
5      3       4       3      0.30
6      4       2       4      1.01
8      5       1       5      0.12

In [80]:
nidx = view.groupby('sobjID')['distance'].transform(min) == view['distance']
view[nidx]

   objID  mobjID  sobjID  distance
2      2       5       2      0.10
4      3       3       3      0.21
6      4       2       4      1.01
8      5       1       5      0.12